# prepare:
# see: https://github.com/yaml/pyyaml/issues/601
ansible-core==2.15.4
# ordered:
#ansible-pylibssh==1.1.0
ansible-runner==2.3.4
ansible-lint[lock]==6.21.1
molecule==6.0.2
molecule-plugins[podman]==23.5.0
Jinja2
kubernetes
kubernetes
